In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/raw/train.csv")
df["Date"] = pd.to_datetime(df["Date"])
df.head()

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-02-05      24924.50      False
1      1     1 2010-02-12      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-03-05      21827.90      False

In [3]:
df["year"] = df["Date"].dt.year
df["month"] = df["Date"].dt.month
df["week"] = df["Date"].dt.isocalendar().week
df["day_of_week"] = df["Date"].dt.dayofweek

In [4]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,year,month,week,day_of_week
0,1,1,2010-02-05,24924.50,False,2010,2,5,4
1,1,1,2010-02-12,46039.49,True,2010,2,6,4
2,1,1,2010-02-19,41595.55,False,2010,2,7,4
3,1,1,2010-02-26,19403.54,False,2010,2,8,4
4,1,1,2010-03-05,21827.90,False,2010,3,9,4

In [5]:
df = df.sort_values(["Store", "Dept", "Date"])

df["lag_1"] = df.groupby(["Store", "Dept"])["Weekly_Sales"].shift(1)
df["lag_2"] = df.groupby(["Store", "Dept"])["Weekly_Sales"].shift(2)

In [6]:
df.head(10)

,Store,Dept,Date,Weekly_Sales,IsHoliday,year,month,week,day_of_week,lag_1,lag_2
0,1,1,2010-02-05,24924.50,False,2010,2,5,4,NaN,NaN
1,1,1,2010-02-12,46039.49,True,2010,2,6,4,24924.50,NaN
2,1,1,2010-02-19,41595.55,False,2010,2,7,4,46039.49,24924.50
3,1,1,2010-02-26,19403.54,False,2010,2,8,4,41595.55,46039.49
4,1,1,2010-03-05,21827.90,False,2010,3,9,4,19403.54,41595.55
5,1,1,2010-03-12,21043.39,False,2010,3,10,4,21827.90,19403.54
6,1,1,2010-03-19,22136.64,False,2010,3,11,4,21043.39,21827.90
7,1,1,2010-03-26,26229.21,False,2010,3,12,4,22136.64,21043.39
8,1,1,2010-04-02,57258.43,False,2010,4,13,4,26229.21,22136.64
9,1,1,2010-04-09,42960.91,False,2010,4,14,4,57258.43,26229.21

In [7]:
df["rolling_mean_4"] = (
    df.groupby(["Store", "Dept"])["Weekly_Sales"]
    .shift(1)
    .rolling(window=4)
    .mean()
)

df["rolling_std_4"] = (
    df.groupby(["Store", "Dept"])["Weekly_Sales"]
    .shift(1)
    .rolling(window=4)
    .std()
)

In [8]:
df.head(10)

,Store,Dept,Date,Weekly_Sales,IsHoliday,year,month,week,day_of_week,lag_1,lag_2,rolling_mean_4,rolling_std_4
0,1,1,2010-02-05,24924.50,False,2010,2,5,4,NaN,NaN,NaN,NaN
1,1,1,2010-02-12,46039.49,True,2010,2,6,4,24924.50,NaN,NaN,NaN
2,1,1,2010-02-19,41595.55,False,2010,2,7,4,46039.49,24924.50,NaN,NaN
3,1,1,2010-02-26,19403.54,False,2010,2,8,4,41595.55,46039.49,NaN,NaN
4,1,1,2010-03-05,21827.90,False,2010,3,9,4,19403.54,41595.55,32990.7700,12832.106391
5,1,1,2010-03-12,21043.39,False,2010,3,10,4,21827.90,19403.54,32216.6200,13554.047185
6,1,1,2010-03-19,22136.64,False,2010,3,11,4,21043.39,21827.90,25967.5950,10467.484020
7,1,1,2010-03-26,26229.21,False,2010,3,12,4,22136.64,21043.39,21102.8675,1222.784968
8,1,1,2010-04-02,57258.43,False,2010,4,13,4,26229.21,22136.64,22809.2850,2325.929203
9,1,1,2010-04-09,42960.91,False,2010,4,14,4,57258.43,26229.21,31666.9175,17206.391261

In [9]:
df["IsHoliday"] = df["IsHoliday"].astype(int)

In [10]:
df = df.dropna()

In [11]:
df.isnull().sum()

Store             0
Dept              0
Date              0
Weekly_Sales      0
IsHoliday         0
year              0
month             0
week              0
day_of_week       0
lag_1             0
lag_2             0
rolling_mean_4    0
rolling_std_4     0
dtype: int64

In [12]:
df.head()
df.shape

(408436, 13)